html { font-size: 62.5%; } 

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(130, 132, 255);
    font-family: Red Hat Display, Arial;
    color: hsl(223, 47%, 23%);
    overflow: hidden;
}

.mainComp {
    background-color: hsl(225, 100%, 98%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 2em auto;
    width: 40%;
    border-radius: 20px;
    overflow: hidden;
}

#heroIll {
    width: 100%;
    height: auto;
}

.order {
    margin-top: 3em;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.order h1 {
    font-size: 3rem;
    font-weight: 900;
}

.order p {
    font-size: 1.6rem;
    font-weight: 300;
    margin: 1em auto;
    width: 70%;
    color: hsl(225, 8%, 51%);
}

.offer {
    background-color: rgb(209, 209, 209);
    border-radius: 20px;
    width: 70%;
    display: flex;
    padding: 1.5em;
    font-size: 1.2em;
    margin-top: .5em;
}

.musicIcon {
    margin: auto 2em auto 0;
}

.plan h2 {
    font-weight: 700;
}

.plan p {
    margin-top: .5em;
}

.change {
    margin: auto 0 auto auto;
    color: hsl(245, 75%, 52%);
}

.change a:active {
    color: rgb(72, 28, 175);
}

.buttonsContainer {
    margin: 3em auto;
    display: flex;
    flex-direction: column;
    width: 70%;
}

.buttonsContainer button {
    margin-top: .5em;
    border: none;
}

.button {
    padding: 1.4em;
    font-size: 1.4rem;
    border-radius: 20px;
    cursor: pointer;
}

#pay {
    background-color: hsl(245, 75%, 52%);
    color: white;
    font-weight: bold;
}

#pay:active {
    background-color: rgb(72, 28, 175);
}

#cancel {
   color: hsl(225, 8%, 51%);
}

#cancel:active {
    font-weight: 700;
}

@media only screen and (max-width:884px) {
    .mainComp {
        width: 75%;
    }
}



@media only screen and (max-width:375px) {
    .mainComp {
        width: 90%;
    }
}
